# Use '#' to comment whole lines. Only use it at the start of the line.
# Every line must be settings=value format.
# Do not change the name of the settings, only the value after the '=' !
# If you want to reset this configuration, delete this file and join a game. It will be automatically recreated.
# You can find the possible values for key IDs in the Properties table here: https://docs.unity3d.com/ScriptReference/KeyCode.html
# Use True/False values for logical types.
# If the value item for the setting is faulted, the default will be used in the game.


MapSynchronizationKey=F10
ToggleModOnOffKey=F9
EnabledOnStartup=True
PinSynchronizationKey=F11
PinFlagDuplicateDistance=25
